*{box-sizing:border-box;font-family:Arial}

body{
  margin:0;
  min-height:100vh;
  background:#f2f2f2;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  width:100%;
  max-width:420px;
  background:#fff;
  border-radius:25px;
  overflow:hidden;
  box-shadow:0 20px 40px rgba(0,0,0,.2);
  text-align:center;
}

.cover{
  height:240px;
  background-size:cover;
  background-position:center;
}

.avatar{
  width:150px;
  height:150px;
  border-radius:50%;
  border:6px solid #fff;
  margin-top:-75px;
  object-fit:cover;
}

.actions{
  display:flex;
  justify-content:center;
  gap:25px;
  margin:20px 0;
}

.actions a{
  width:65px;
  height:65px;
  background:#eee;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:26px;
  color:#000;
}

.socials{
  background:#f4f4f4;
  margin:20px;
  padding:20px;
  border-radius:20px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
}

.socials a{
  background:#fff;
  border-radius:18px;
  padding:15px;
  font-size:38px;
  color:#000;
  text-decoration:none;
}

.center{
  grid-column:span 2;
  width:55%;
  margin:auto;
}
