.social-box {
  background: #f2f2f2;
  padding: 25px;
  border-radius: 25px;
  margin: 25px;
}

.social-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  text-align: center;
}

.social-item {
  text-decoration: none;
  color: #000;
}

.social-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
}

.social-icon i {
  font-size: 42px;
}

.social-item span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

/* لو أيقونة واحدة في آخر صف */
.center {
  grid-column: span 3;
}
