.social-container {
  padding: 20px;
}

.social-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background: #f2f2f2;
  padding: 25px;
  border-radius: 20px;
}

.social-card {
  background: #fff;
  border-radius: 22px;
  padding: 22px 10px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

.social-card i {
  font-size: 46px;
  margin-bottom: 10px;
}

.social-card span {
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #000;
}

/* لو أيقونة واحدة */
.social-card.center {
  grid-column: span 2;
  width: 65%;
  margin: auto;
}

/* ألوان */
.fa-whatsapp { color: #25D366; }
.fa-facebook { color: #1877F2; }
.fa-instagram { color: #E1306C; }
.fa-tiktok { color: #000; }
